{% extends "base.html" %}

{% block content %}
   <h1> This is Info page</h1>

<form action="{% url 'info' %}" method="post">
   {% csrf_token %}
<table class="table table-bordered text-center">
   <thead>
      <tr>
         <th>Name</th>
         <th>Age</th>
         <th>Salary</th>
         <th>Blood group</th>
         <th>Action</th>
      </tr>
      <tr>
         {% for fields in form %}
           <td>{{fields}}</td>
         {% endfor %}
           <td>
            <button name="save">Create</button>
           </td>
      </tr>
   </thead>
   <tbody>
      {% for details in info %}
      <tr>
            <td>{{details.name}}</td>
            <td>{{details.age}}</td>
            <td>{{details.salary}}</td>
            <td>{{details.blood_group}}</td>
            <td>
               <button formnovalidate name="edit" value="{{details.id}}">Edit</button>
               <button formnovalidate name="delete" value="{{details.id}}">Delete</button>
            </td>
         </tr>
         {% endfor %}
   </tbody>
</table>
</form>
{% endblock content %}